body {
  background-color: white;
}
h1 {
    color: Navy;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif; 
}
p {
    color: black;
    font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}
