body {
  background-color: white;
}
h1 {
    color: Navy;
    font-family: "DM Sans", Verdana, Arial, Helvetica, sans-serif; 
}
p {
    color: black;
    font-family: "DM Sans", Verdana, Arial, Helvetica, sans-serif;
}
